// Colors
$primary: #0282F9;
$light  : #FFFFFF;
$dark   : #1C1C1C;

// Font Size
$xs-txt : 0.5rem;
$s-txt  : 0.8rem;
$m-txt  : 1rem;
$lg-txt : 1.2rem;
$xl-txt : 1.5rem;

// Font Weight
$light      : 200;
$normal     : 400;
$light-bold : 600;
$bold       : 800;
$extra-bold : 900;